.t-shirt{
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.t-shirt img{
    height: 250px;
    display: flex;
    justify-content: center;
    
}
.add-btn{
    background-color: orange;
    padding: 5px;
}